{% extends "theme.html" %}
{% block content %}


    <br>
    <div class="page-banner overlay-dark bg-image" style="background-image: url(../static/bg_img.jpg);">
    <div class="banner-section">
      <div class="container text-center wow fadeInUp">
    
            <h2 class="font-weight-normal">ABOUT US</h2>
          </div> <!-- .container -->
        </div> <!-- .banner-section -->
      </div> <!-- .page-banner -->
      
        <div class="page-section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 wow fadeInUp">
              <h1 class="text-center mb-3">Welcome to Your Health Center</h1>
              <div class="text-lg">
                <p> 
                  MKG Hospital & Research Center is a charitable, multi-specialty hospital located in the heart of Pune, India. Founded in 2001, today it is one of the largest hospital in Pune, with 800 beds. 
                  This offers state-of-the-art diagnostic, therapeutic and intensive care facilities in a one-stop medical center.
                 The MKG Hospital is beautifully designed, having a central atrium with four wings built around it. It is a 800-bed hospital with 12 operation theaters, a sophisticated ICU, blood bank, a digital radiology unit, a kidney transplant unit, and many other facilities. 
                 It has some of the best equipment for diagnostics as well as treatment, and is staffed by some of the finest medical and administrative personnel available in Pune. We are Pioneers in EMS in India, EMS with Cardiac & Trauma Ambulances. 
                 Great attention is given to the needs of the patients and their relatives. It is a truly multispecialty hospital, providing super-specialty care cardiology & Neurology 
               </p>
              </div>
            </div>
            <div class="col-lg-10 mt-5">
              <h1 class="text-center mb-5 wow fadeInUp">Our Doctors</h1>
              <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 wow zoomIn">
                  <div class="card-doctor">
                    <div class="header">
                      <img src="../static/drca.jpg" height="260px" width="100px">
                      
                      
                    </div>
                    <div class="body">
                      <p class="text-xl mb-0">Dr.Captain America</p>
    				  
                      <span class="text-sm text-grey">Cardiology</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 wow zoomIn">
                  <div class="card-doctor">
                    <div class="header">
                      <img src="../static/ironman.jpg" height="260px" width="100px">
                      
                    </div>
                    <div class="body">
                      <p class="text-xl mb-0">Dr. Tony Stark  </p>
                      <span class="text-sm text-grey">Orthopaedics</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 wow zoomIn">
                  <div class="card-doctor">
                    <div class="header">
                      <img src="../static/drneuro.jpg" height="260px" width="100px">
                      
                      
                    </div>
                    <div class="body">
                      <p class="text-xl mb-0">Dr.Kim Seokjin</p>
    				  
                      <span class="text-sm text-grey">Neorology</span>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 col-lg-4 wow zoomIn">
                  <div class="card-doctor">
                    <div class="header">
                      <img src="../static/deadpool.jpg" height="260px" width="100px">
                    </div>
                    <div class="body">
                      <p class="text-xl mb-0">Dr. Mark DeadPool</p>
                      <span class="text-sm text-grey">General Health</span>
                    </div>
                  </div>
                </div>
    
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}