{% extends "theme.html" %}
{% block content %}

      <h1 align="center">Multiple Sclerosis</h1>
      <style>
           .img-container{
             text-align:center;
           }
      </style>
      <div class="img-container">
      <img src="../static/m_s.jpg" height="300px" width="900px" />
      </div>
      
      <p action="{{url_for('m_sclerosis')}}">
      </p>
      <h3>about</h3>
      <p>{{ ms_info[0] }}</p>
      <h3>cause</h3>
      <p>{{ ms_info[1] }}</p>
      <h3>Symptoms</h3>
      <div class="img-container">
      <img src="../static/ms_sym.jpg" height="300px" width="500px" />
      </div>
      <p>{{ ms_info[2] }}</p>
      <h3>Diagnosis</h3>
      <p>{{ ms_info[3] }}</p>
      <h3>Treatment</h3>
      <p>{{ ms_info[4] }}</p>
      
      
      
      

{% endblock %}
